# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build and dependency directories
node_modules
dist
dist-ssr
build
out
.output
*.local

# Environment files
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache and temp files
.cache
.temp
.tmp
.vite

# Testing
coverage
.nyc_output

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json.example
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Deployment-related files
.netlify
.vercel
.firebase
.github

# Debug
*.tsbuildinfo
*.stackdump
*.heapsnapshot

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/
.turbo
